<div class="container">
    <section>
      <div class="row">
        <div class="text-center">
          <h1 class="title">Soutenons le collège</h1>
          <p class="text01">
            L'IPE et le collège Dina Morgabine ont besoin de vous. En ce mois béni
            de Ramadan,faites un don et oeuvrez pour l'au-dela.<br/> Le Prophète ( sur lui soit la paix)
            faisait preuve d'une grande générosité durant ce mois si particulier. <br/> Engagez-vous
            donc pour l'éducation de nos enfants en soutenant massivement ce projet réunionnais,
            Les familles <br/> nous font de plus en plus confiance, aidez-nous à être à la hauteur !
            Nous comptons sur vous !
            <br/>
          </p>
        </div>
      </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="video_zone">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe width="560" height="315"
          src="https://www.youtube.com/embed/rxz1ulQu-J4"
          frameborder="0" allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="zone_infos">
        <h2 class=title_mission>Soutenons l'IPE</h2>
          <h1 class="objectif">Objectif : <b>15000</b> €</h1>

        <h3>Financé à <br/><%= @pourcentage  %> % </h3>
        <h3>  <%= @donor %> Participants  </h3>
        <!--<%= button_to "Faire un don à l'IPE", new_don_path, :class =>
       "btn btn-secondary btn-lg btn-block", :method => :get %>-->
      </div>
    </div>
  </section>
</div>



  <div class="jumbotron" id="africa">
    <div class="container marketing" >
      <div class="row">
      <div class="text-center">
        <h1>Présentation de L'IPE </h1>
      </div>
    </div>
      <div class="row">
        <p  class="text-center">
        L'association IPE-Institut Privé d'Enseignement souhaite rendre à l'île de la Reunion
        et à ses habitants <br/> ce qu'ils nous ont tant donné depuis près de 150 ans. Protéger et renforcer
        son harmonie, <br/> promouvoir notre "reunionnité", proposer au monde notre témoignage...Un enjeu de
        taille que l'IPE souhaite relever.<br/>
        C'est dans cette optique que l'association décide de prendre sa part dans le défi de l'éducation
        et de la formation de notre jeunesse. En aout 2014, l'IPE ouvre un colège ouvert à tous,
        Dina Morgabin. Un nom chargé d'histoire, tel un rappel de nos racines...
        </p>
    </div>
    <!-- START THE FEATURETTES -->

     <hr class="featurette-divider">

     <div class="text-center">
       <h1 class="title_chiffre">Evènements culturels et sorties</h1>
     </div>
     <div class="row featurette">
       <div class="col-md-7">
         <h2 class="featurette-heading">Sortie scolaire</h2>
         <p class="lead">- En octobre 2016, une sortie a été organisée à St-Philippe à l'attention des élèves de CE2, CM1, et CM2
         du sud de l'île pour découvrir la richesse de la flore réunionnaise au "jardin des parfums et
         des épices".</p>
       </div>
       <div class="col-md-5">
         <img class="featurette-image img-responsive center-block" src="/balade.jpg" >
       </div>
     </div>

     <hr class="featurette-divider">

     <div class="row featurette">
       <div class="col-md-7 col-md-push-5">
         <h2 class="featurette-heading">Evènement culturel </h2>
         <p class="lead">Le 30 Avril 2017, une conférene assurée par une diététicienne-nutritionniste sur le thème
         de "Quelle alimentation pour la famille musulmane ?" à réuni une centaine de participantes à
         St-pierre.</p>
       </div>
       <div class="col-md-5 col-md-pull-7">
         <img class="featurette-image img-responsive center-block" src="/enfant_labo.jpg" >
       </div>
     </div>

     <hr class="featurette-divider">

     <!-- /END THE FEATURETTES -->

   </div>
   </div>


  <div class="container marketing" >
    <div class="text-center">
        <h1 class="title_chiffre">Projet d'établissement</h1>
        <h3>
          Notre projet se veut une contribution, avec d'autres à l'édification d'une société forte
          et meilleure. S'entraider à comprendre et à remplir son rôle dans cette vie, en
          comprenant ses besoins et en ayant le sens des priorités, est un grand défi
           et une grande responsabilité.
        </h3>
    </div>


    <div class="text-center">
        <h1 class="title_chiffre" id ="chiffres">Chiffres clés</h1>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
      <div class="text-center">
        <i class="fa fa-child" aria-hidden="true"></i>

        <h2>Elèves</h2>
        <p>
          A la rentrée d'août 2017, l'établissement comptera près de 95 élèves in-cha Allah,
           avec l'ouverture d'une classe de 3ème et d'une classe de CM2;
        </p>

      </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <div class="text-center">
            <i class="fa fa-users" aria-hidden="true"></i>

            <h2> Professeurs</h2>
            <p>
              15 professeurs et intervenants salariés ou bénévoles constituent l'équipe
              pédagogique pilotée par un responsable pédagogique. Une place importante est donnée aux langues
              au sein du collège : La maitrise des langues est en effet indispensable pour la formation des
              "Zarboutans" du futur. L'anglais, l'arabe et l'espagnol sont ainsi enseignés.
            </p>
         </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <div class="text-center">
            <i class="fa fa-building" aria-hidden="true"></i>

            <h2>Administration</h2>
            <p>
              L'administration est constitué de quatre personnes qui sont dévoués pleinement à
              la reussite et la bonne gestion du collège.
            </p>
         </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12" id="paypay">
      <h1 class="text-pay">Comment faire un don ?</h1>
      <h3></h3>
      <h3 class="text-pay"><i class="fa fa-credit-card" aria-hidden="true"> .Effectuez un don en ligne de manière sécurisé </i></h3>
      <h3 class="text-pay"><i class="fa fa-university" aria-hidden="true"> .Par virement : <BR/><b>IBAN FR76 1871 9000 8300 0064 3600 044</b> </i></h3>
      <h3 class="text-pay"><i class="fa fa-pencil-square" aria-hidden="true">. Par chèque à l'ordre de <b>IPE </b><br/>40 rue victor le vigoureux St-pierre 97410</i></h3>
    </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-sx-12" id="zone_don">
        <h3 class="text_payment">Donnez via un paiment sécurisé</h3>
     <%= render "form"%>
      </div>
  </div>
</div>
