<aside>
  <div class="row">
  <div class="col-md-offset-4 col-lg-4 col-md-4 col-sm-3 col-sx-10" id="zone">
        <h1 class="zone"> Mr ou Mme <%= @don.pseudo %> L'IPE et ses élèves vous remercient de votre don </h1>
        <div class="text-center">
    <h3><%= link_to "Retour à l'accueil", root_path, :class => "btn btn-primary" %></h3>
  </div>
  </div>
  </div>
</aside>
